@font-face {
    font-family: 'BenderRegular';
    src: url("../fonts/Bender/BenderRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Bender/BenderRegular.woff") format("woff"),
    url("../fonts/Bender/BenderRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
