@font-face {
    font-family: 'BebasRegular';
    src: url("../fonts/Bebas/BebasRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Bebas/BebasRegular.woff") format("woff"),
    url("../fonts/Bebas/BebasRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasThin';
    src: url("../fonts/Bebas/BebasThin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Bebas/BebasThin.woff") format("woff"),
    url("../fonts/Bebas/BebasThin.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasBold';
    src: url("../fonts/Bebas/BebasBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Bebas/BebasBold.woff") format("woff"),
    url("../fonts/Bebas/BebasBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;