html, body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3 {
    text-align: center;
    font-family: 'BebasRegular';
    
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0;
    width: 100%;
    max-width: 1920px;
    color: #fff;
    background-color: #1a1f2b;
    box-shadow: rgba(0,0,0,.6) 2px 2px 5px;
    position: fixed;
    z-index: 9999;
}

.header_logo {
    padding: 0 20px;
    display: flex;
    align-items: stretch;
}

.header_logo > img {
    border-radius: 6px;
}

.nav {
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    font-family: 'BebasRegular';
}

.nav_menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav_link {
    font-size: 17px;
}

.nav_link > a {
    color: #fff;
    padding: 15px 15px;
    text-decoration: none;
    transition: 0.3s;
    display: block;
    border-bottom: #1a1f2b solid 2px;
    box-sizing: padding-box;
}

.nav_link > a:hover {
    color: #ff9900;
}

.active {
    border-top: #ff9900 solid 1px;
    border-bottom: #ff9900 solid 1px;
}

.nav_icon {
    display: none;
}

/* CONTENT */

.content {
    display: flex;
    flex-grow: 1;
}

.bg_image {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    order: 0;
    flex: 7;
    min-width: 280px;
    margin-top: 120px;
}

.main_title_block {
    display: flex;
    flex-direction: column;
    margin: 30px 30px 0 30px;
}

.main_title1 {
    color: #cad6e0;
    text-shadow: rgba(0,0,0,1) 4px 2px 4px;
}

.main_title2 {
    position: relative;
    top: -43px;
    color: #ff9900;
    font-size: 30px;
    text-shadow: rgba(0,0,0,1) 4px 2px 4px;
}

.main_advantages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main_advantages_item {
    display: flex;
    justify-content: space-between;
    color: #1a1f2b;
    font-size: 18px;
    background-color: rgba(255,153,0,.8);
    border-radius: 0 6px 6px 0;
    width: 310px;
    margin: 7px 0;
    padding: 5px 15px;
    font-family: 'RobotoCondensedRegular';
    cursor: context-menu;
}

.main_advantages_item > i {
    position: relative;
    top: 4px;
}

.main_advantages > a {
    text-decoration: none;
    text-shadow: rgba(0,0,0,1) 2px 2px 7px;
}

.main_advantages > a > p {
    cursor: pointer;
    color: #fff;
}

.main_advantages > a > p:hover {
    background-color: #1a1f2b;
}


aside {
    order: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 220px;
    flex: 3;
    margin: 120px 15px 0 15px;
    color: #1a1f2b;
    font-size: 20px;
    font-family: 'RobotoCondensedRegular';
}

#aside_form {
    color: #fff;
    background-color: #1a1f2b;
    border-radius: 6px;
    margin-bottom: 30px;
}

.aside_title {
    padding: 0 12px;
}

.form_group {
    margin-bottom: 15px;
    box-sizing: border-box;
}

.form_input {
    border-radius: 6px;
    font-size: 17px;
    font-family: 'BenderRegular';
    border: 1px solid #ccc;
    padding: 10px 20px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form_input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.aside_form_input {
    width: 80%;
}

.strong_text {
    color: #b91427;
    text-shadow: rgba(0,0,0,.8) 0 2px;
}

#aside_form_btn {
    color: #fff;
    font-family: 'BebasBold';
    font-size: 20px;
    padding: 12px;
    margin: 10px;
    border: none;
    border-radius: 6px;
    text-shadow: rgba(0,0,0,0.4) 2px 1px;
    background-color: #9e0c19;
    position: relative;
    top: 33px;
    cursor: pointer;
}

#aside_form_btn:hover {
    background-color: #bc0c19;
}

.aside_phone_number {
    padding: 15px 0px;
    background-color: #1a1f2b;
    border-radius: 6px;
    border: 1px solid #000;
    color: #ff9900;
    text-shadow: rgb(0,0,0,1) 1px 1px;
}

.aside_phone_number > a {
    color: #fff;
    text-shadow: rgb(0,0,0,1) 1px 1px;
    text-decoration: none;
}

.aside_phone_number > a > span {
    font-size: 25px;
    color: #ff9900;
}

.aside_phone_number > a:hover {
    font-size: 25px;
}

.aside_mode {
    background-color: #fff;
    border-radius: 6px;
}

#search_form {
    margin: 20px 15px;
    display: flex;
}

.search_form_group {
    margin: 2px 15px;
    width: 100%;
}

.search_form_input {
    width: 100%;
    margin: 0 15px;
    box-sizing: inherit;
}

#search_form_btn {
    color: #fff;
    font-family: 'BebasBold';
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 15px;
    border: none;
    border-radius: 6px;
    text-shadow: rgba(0,0,0,0.4) 2px 1px;
    background-color: #0d6180;
    cursor: pointer;
}

#search_form_btn:hover {
    background-color: #3d82a3;
}

.catalog_block {
    margin-left: 15px;
    padding: 15px;
}

.catalog_text {
    color: #888;
    text-align: center;
    padding: 4px;
    font-family: 'RobotoCondensedRegular';
}

.catalog_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.catalog_item {
    margin: 10px;
    width: 156px;
    height: 133px;
    overflow:hidden;
    border: 1px solid #888;
    border-radius: 6px;
}

.catalog_item:hover {
    border: 1px solid #555;
    box-shadow: rgba(0,0,0,.6) 2px 2px 5px;
}

.catalog_item_img {
    -moz-transition: all 1s ease-out;
     -o-transition: all 1s ease-out;
     -webkit-transition: all 1s ease-out;
}

.catalog_item_img:hover {
    -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
}

.models_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    padding: 15px 0;
}

.models_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.models_item {
    padding: 5px;
    margin: 5px;
    min-width: 100px;
    cursor: pointer;
    border-radius: 6px;
    text-align: center;
    font-family: 'RobotoCondensedRegular';
    border: 1px solid #888;
}

.models_item:hover {
    background-color: #ff9900;
    box-shadow: rgba(0,0,0,.6) 2px 2px 5px;
}

.models_item > a {
    color: #1a1f2b;
    text-decoration: none;
}

.red_text {
    color: #ff9900;
    text-shadow: rgb(0,0,0,1) 1px 1px;
    font-family: 'BebasRegular';
}

.series_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    padding: 15px;
}

.series_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.series_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    border-radius: 6px;
    border: 1px solid #888;
    background-color: #fff;
    cursor: pointer;
}

.series_item:hover {
    border-color: #555;
    box-shadow: rgba(0,0,0,.6) 2px 2px 5px;
}

.series_item_img {
    width: 250px;
    padding: 15px;
}

.series_link {
    text-decoration: none;
    color: #1a1f2b;
    font-family: 'RobotoCondensedRegular';
}

.modification_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    padding: 15px;
}

.modification_items {
    font-family: 'RobotoCondensedRegular'
}

.modification_table {
    margin: 15px;
    border-spacing: 0;
}

.modification_thead > th {
    padding: 15px;
    color: #fff;
    text-shadow: 0 1px 1px #2D2020;
    background-color: #ff9900;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

.modification_thead > th:first-child {
border-top-left-radius: 10px;
}

.modification_thead > th:last-child {
    border-top-right-radius: 6px;
}

.modification_tbody {
    color: #1a1f2b;
    background-color: #fff4bc;
    cursor: pointer;
}

.modification_tbody:hover {
    background-color: #ff9900;
}

.modification_tbody > td {
    padding: 3px 15px;
}

.btn_back {
    color: #fff;
    font-family: 'BebasBold';
    font-size: 20px;
    padding: 10px 20px;
    margin: 15px;
    border: none;
    border-radius: 6px;
    text-shadow: rgba(0,0,0,0.4) 2px 1px;
    background-color: #0d6180;
    cursor: pointer;
    text-decoration: none;
}

.btn_back:hover {
    background-color: #3d82a3;
}

.application_form_block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.applications_form_items {
    width: 80%;
    text-align: center;
}

#applications_form > div {
    margin-bottom: 15px;
    box-sizing: border-box;
}

#applications_form > div > input, textarea {
    width: 80%;
}

#applications_form > div:last-child {
    width: 200px;
    margin: 0 auto;
}

#applications_form_btn {
    color: #fff;
    font-family: 'BebasBold';
    font-size: 20px;
    padding: 12px;
    margin: 15px 0;
    border: none;
    border-radius: 6px;
    text-shadow: rgba(0,0,0,0.4) 2px 1px;
    background-color: #9e0c19;
    cursor: pointer;
}

#applications_form_btn:hover {
    background-color: #bc0c19;
}

.sent_block {
    margin: 40px;
}

.offers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    font-family: 'RobotoCondensedRegular';
}

.shares_block {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    padding-top: 15px;
    background-color: #fff;
    text-align: center;
}

.shares_block > p {
    padding: 15px;
    font-family: 'RobotoCondensedRegular';
}

.shares_title {
    margin: 0;
    padding: 15px;
}

.shares_img {
    width: 100%;
}

.shares_img img {
    width: 100%;
    max-width: 460px;
}

.delivery_block {
    display: flex;
    justify-content: space-around;
    margin: 1px 0 0 15px;
}

.delivery_block_item {
    flex: 5;
}

.delivery_block_item > p {
    padding: 15px;
    text-align: justify;
    font-family: 'RobotoCondensedRegular';
}

.delivery_block_item_img {
    text-align: center;
}

.delivery_block_item_img img {
    width: 60%;
}

.delivery_quality {
    text-align: center;
    margin-left: 15px;
}

.delivery_quality img {
    padding: 70px 0;
}

.guarantees_block {
    font-family: 'RobotoCondensedRegular';
    padding: 15px;
    margin: 1px 0 0 15px;
}

.contacts_title {
    margin: 30px;
    color: #cad6e0;
    text-shadow: rgba(0,0,0,1) 1px 2px 4px;
}

.contacts_block {
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-family: 'BebasRegular';
    margin: 30px;
    border-radius: 6px;
    background-color: rgba(26,31,43,.6);
}

.contacts_block_item {
    text-align: center; 
    padding: 15px;
    font-size: 20px;
    letter-spacing: 1px;
}

.contacts_block_item > a {
    color: #ff9900;
}

.contacts_block_item > a:hover {
    color: #fff;
}

/* FOOTER */

footer {
    display: flex;
    height: 15vh;
    flex-grow: 0;
    align-items: center;
    color: #fff;
    background-color: #1a1f2b;
    box-shadow: rgba(0,0,0,.6) -2px -2px 5px;
    justify-content: space-around;
    font-family: 'BebasRegular';
}

.footer_item_privacy {
    color: #ff9900;
}

.footer_item_privacy:hover {
    color: #fff;
}
