<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="запчасти, автозапчасти, запчасти для иномарок, автозапчасти для иномарок, интернет-магазин запчастей">
        <meta name="description" content="Запчасти для иномарок в Кирове. Без предоплаты с бесплатной доставкой.">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="yandex-verification" content="ca93f94c1d09b152">
        <meta name="google-site-verification" content="R9aAHD14SGP98xiWlL-unIGhj9Szz4Yo2ZF8xEDi_hY">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/media.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-bebas.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-bender.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-roboto.css' %}">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
        <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
        <title>
            Запчасти для иномарок в Кирове | www.43details.ru
        </title>
    </head>
    <body>
        <div class="wrapper" itemscope itemtype="http://schema.org/LocalBusiness">
            <meta itemprop="priceRange" content="$">
            <meta itemprop="address" content="Киров">
            <meta itemprop="name" content="Запчасти для иномарок">
            <meta itemprop="telephone" content="8 (8332) 266-560">
            <header>
                <div class="header_logo">
                    <img src="{% static 'img/logo.png' %}" 
                         alt="Логотип">
                </div>
                <nav class="nav">
                    <a href="#" class="nav_icon">Меню</a>
                    <ul class="nav_menu">
                        <li class="nav_link {% if page == 'main' %} active {% endif %}">
                            <a href="{% url 'main' %}">Главная</a>
                        </li>
                        <li class="nav_link {% if page == 'catalog' %} active {% endif %}">
                            <a href="{% url 'catalog' %}">Каталог</a>
                        </li>
                        <li class="nav_link {% if page == 'shares' %} active {% endif %}">
                            <a href="{% url 'shares' %}">Акции</a>
                        </li>
                        <li class="nav_link {% if page == 'delivery' %} active {% endif %}">
                            <a href="{% url 'delivery' %}">Доставка</a>
                        </li>
                        <li class="nav_link {% if page == 'guarantees' %} active {% endif %}">
                            <a href="{% url 'guarantees' %}">Гарантия</a>
                        </li>
                        <li class="nav_link {% if page == 'contacts' %} active {% endif %}">
                            <a href="{% url 'contacts' %}">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <div class="content {% if page == 'main' or page == 'contacts' %} bg_image {% endif %}">
                <main>
                    {% block content %}
                    {% endblock %}
                </main>
                <aside>
                    <p class="aside_phone_number">
                        <span class="aside_fast_call"></span>
                        Киров
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <a href="tel:88332266560">
                            8&nbsp;(8332)&nbsp;<span>266-560</span>
                        </a>
                    </p>
                    <form method="post" 
                          id="aside_form"
                          action="{% url 'aside_form' %}">
                        {% csrf_token %}
                        <h4 class="aside_title">
                            Оставьте заявку и получите 
                            <span class="strong_text">3 ВАРИАНТА</span>
                            стоимости товара уже
                            <span class="strong_text">ЧЕРЕЗ 10 МИНУТ!</span>
                        </h4>
                        <div class="form_group">
                            <input type="text"
                                   class="form_input aside_form_input"
                                   placeholder="Ваше имя"
                                   name="name"
                                   required>
                        </div>       
                        <div class="form_group">      
                            <input type="text"
                                   class="form_input aside_form_input phone"
                                   placeholder="Ваш телефон"
                                   name="phone"
                                   required>
                        </div>       
                        <div class="form_group">       
                            <input type="text"
                                   class="form_input aside_form_input"
                                   placeholder="Марка, модель, год выпуска, VIN"
                                   name="car"
                                   required>
                        </div>       
                        <div class="form_group">       
                            <input type="text"
                                   class="form_input aside_form_input"
                                   placeholder="Наименования (номера) деталей"
                                   name="parts"
                                   required>
                        </div>       
                        <div>       
                            <input type="submit"
                                   value="Отправить запрос"
                                   id="aside_form_btn">
                        </div>       
                    </form>
                    <p class="aside_mode" 
                       itemprop="openingHours" 
                       datetime="Mo-Su 10:00-20:00">
                        РЕЖИМ РАБОТЫ:<br>Пн-Пт | 10:00 - 20:00<br>
                        Сб-Вс | 10:00-18:00
                    </p>
                </aside>
            </div>
            <footer>
                <div class="footer_item">
                    <p>&#169; Все права защищены</p>
                </div>
                <div class="footer_item"></div>
                <div class="footer_item">
                    <p class="footer_item_data">
                        Интернет-магазин <span itemprop="brand">"43 Детали"</span><br>
                        ОГРНИП: 315435000010813     <br>
                        <a href="{% static 'pdf/privacy.pdf' %}" 
                           target="_blank"
                           class="footer_item_privacy">
                            Политика конфеденциальности
                        </a>
                    </p>
                </div>
            </footer>
        </div>
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/common.js' %}"></script>
        <script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>

        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter45570114 = new Ya.Metrika({
                            id:45570114,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true,
                            webvisor:true
                        });
                    } catch(e) { }
                });

                var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript>
            <div>
                <img src="https://mc.yandex.ru/watch/45570114" style="position:absolute; left:-9999px;" alt="" />
            </div>
        </noscript>
        <!-- /Yandex.Metrika counter -->

    </body>
</html>