{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
                    <h1 class="contacts_title">Наши контакты</h1>
                    <div class="contacts_block">
                        <div class="contacts_block_item">
                            <i class="fa fa-flag fa-3x" aria-hidden="true"></i><br>
                            <span>Киров</span>
                        </div>
                        <div class="contacts_block_item">
                            <i class="fa fa-volume-control-phone fa-3x" aria-hidden="true"></i><br>
                            <a href="tel:88332266560">8 8332 266 560</a>
                        </div>
                        <div class="contacts_block_item">
                            <i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i><br>
                            <a href="mailto:nagovitsyn_75@mail.ru">Написать письмо</a>
                        </div>
                    </div>
                    
{% endblock %}