{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
                    <div class="models_block">
                        <h2>Ищите запчасти для
                            <span class="red_text">{{ mark_name }}</span> в Кирове с
                            <span class="red_text">бесплатной</span> доставкой?</h2>
                        <h3>Выберите модель</h3>
                        <p  class="catalog_text">
                            Если модели Вашего автомобиля здесь нет - отправьте запрос нашим менеджерам через форму заявки.
                        </p>
                        <div class="models_items">
                            {% for model in models %}
                            <a href="{% url 'series' model.id %}" class="models_item">
                                <span>{{ model.name }}</span>
                            </a>
                            {% endfor %}
                        </div>
                        <a href="{% url 'catalog' %}" class="btn_back">
                               Назад
                        </a>    
                    </div>  
{% endblock %}





