{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
                    <div class="modification_block">
                        <h2>Выберите модификацию  {{ mark_name }} {{ model_name }}</h2>
                        <div class="modification_items">
                            <table class="modification_table">
                                <tr class="modification_thead">
                                    <th>Исполнение</th>
                                    <th>Кузов</th>
                                    <th>Дверей</th>
                                    <th>Мощность, л.с.</th>
                                    <th>Привод</th>
                                    <th>Топливо</th>
                                    <th>Год</th>
                                </tr>
                                {% for car in modification %}
                                <tr class="modification_tbody" 
                                    data-href="{% url 'applications_form' car.id %}">
                                    <td>{{ car.motor }}</td>
                                    <td>{{ car.body }}</td>
                                    <td>{{ car.doors }}</td>
                                    <td>{{ car.power }}</td>
                                    <td>{{ car.drive }}</td>
                                    <td>{{ car.fuel }}</td>
                                    <td>{{ car.years }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <a href="{% url 'series' car_series %}" class="btn_back">
                               Назад
                        </a>
                    </div>
{% endblock %}