{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
                    <div class="sent_block">
                        <h3>Ваш запрос отправлен</h3>
                        <div class="offers">
                            <p>Не пропустите нашу <a href="{% url 'shares' %}">новую акцию</a>! Только  с 
                                <span style="color:red;">25.10.2017</span>
                                по 
                                <span style="color:red;">02.11.2017 г.</span>
                            </p>
<!--
                            <p>Пока наши менеджеры обрабатывают Ваш запрос, Вы можете ознакомиться с доступными на данный момент 
                            <a href="{% url 'shares' %}">акциями </a>
                            нашего интернет-магазина.</p>
-->
                        </div>
                    </div>
{% endblock %}