{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
                    <div class="series_block">
                        <h2>Выберите модель кузова
                            <span class="red_text">{{ mark_name }}</span>
                        </h2>
                        <div class="series_items">
                            {% for batch in series %}
                            <div class="series_item">
                                <a href="{% url 'modifications' batch.id %}">
                                <img src="/media/{{ batch.image }}"
                                     alt="{{ batch.name }}"
                                     title="{{ batch.name }}"
                                     class="series_item_img">
                                </a>
                                <a href="#" class="series_link">{{ batch.name }}</a>
                            </div>
                            {% endfor %}
                        </div>
                        <a href="{% url 'models' car_model %}" class="btn_back">
                               Назад
                        </a>
                    </div>
{% endblock %}