{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
                    <div class="shares_block">
                        <h1 class="shares_title">Наши новые акции</h1>
                        <p>1. Акция!!! Ко дню Автомобилиста! 
                              В период с 
                              <span style="color:red;">25.10.2017</span>      
                              по 
                              <span style="color:red;">02.11.2017 г.</span>
                              При заказе авто запчастей <b>скидка 7%</b>
                        </p>
                        <div class="shares_img">
                            <img src="{% static 'img/shares/auto_day.jpg' %}" alt="Акция №1">
                        </div>
                        <p>2. При покупке комплекта для ТО (воздушный, салонный и масляный фильтра) скидка на масло <b>10%!</b>
                        </p>
                        <div class="shares_img">
                            <img src="{% static 'img/shares/share_1.jpg' %}" alt="Акция №2">
                        </div>
                        
                    </div>
{% endblock %}