{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
                    <div class="shares_block">
                        <h1 class="shares_title">Наши новые акции</h1>
                        <p>
                            1. <b>Скидка 15% весь НОЯБРЬ</b> на все запчасти в нашем магазине!
                        </p>
                        <div class="shares_img">
                            <img src="{% static 'img/shares/skidka15.jpg' %}" alt="Акция №1">
                        </div>
                        <p>
                            2. При покупке запчастей в нашем магазине Вы получаете скидку <b>15%</b> на услуги автосервиса!
                        </p>
                        <div class="shares_img">
                            <img src="{% static 'img/shares/car-service.jpg' %}" alt="Акция №2">
                        </div>
                        <p>3. При покупке комплекта для ТО (воздушный, салонный и масляный фильтра) скидка на масло <b>10%!</b>
                        </p>
                        <div class="shares_img">
                            <img src="{% static 'img/shares/share_1.jpg' %}" alt="Акция №3">
                        </div>
                        
                    </div>
{% endblock %}