{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
                    <div class="shares_block">
                        <h1 class="shares_title">Наши новые акции</h1>
                        <p>При покупке комплекта для ТО (воздушный, салонный и масляный фильтра) скидка на масло 15%!
                        </p>
                        <div class="shares_img">
                            <img src="{% static 'img/shares/share_1.jpg' %}" alt="Акция №1">
                        </div>
                        
                    </div>
{% endblock %}